button {
  background-color: rgb(82, 162, 238);
  border-radius: 5px;
  border: 1px solid rgb(120, 201, 228);
  width: 30px;
  height: 30px;

}

button:hover {
  background-color: rgb(62, 197, 241);
  border: 1px solid rgb(17, 160, 207);
}
